NODE_ENV=development
PORT=3000
SESSION_SECRET= node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=secureframe
DATABASE_USER=postgres
DATABASE_PASSWORD=contraseniaseguradepostgres
DEMO_USER_PASSWORD=Usuario123!
DEMO_SUPERVISOR_PASSWORD=Supervisor123!
MAX_UPLOAD_MB=6
